@charset "UTF-8";
.side-panel {
  position: fixed;
  z-index: 20;
  right: 10px;
  top: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.side-panel::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  width: 1px;
  height: 80%;
  z-index: -1;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255);
}
.side-panel-item {
  width: 50px;
  height: 50px;
  padding: 10px;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.5s ease-in-out;
}
.side-panel-item svg {
  fill: rgb(53, 75, 101);
  position: absolute;
  width: 50%;
  height: 50%;
  transition: 0.2s ease-in-out;
}
.side-panel-item::before {
  content: attr(data-title);
  position: absolute;
  color: rgb(239, 239, 239);
  background: hsla(0deg, 0%, 100%, 0.2);
  padding: 10px;
  border-radius: 5px;
  opacity: 0;
  transition: 0.5s ease-in-out;
  z-index: -1;
}
.side-panel-item:hover {
  box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255);
  transition: 0.5s ease-in-out;
}
.side-panel-item:hover svg {
  transform: scale(1.3);
  transition: 0.5s ease-in-out;
}
.side-panel-item:hover::before {
  transform: translateX(-80%);
  opacity: 1;
  transition: 0.5s ease-in-out;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(45deg, rgb(53, 75, 101) 60%, rgb(103, 195, 148));
  color: rgb(239, 239, 239);
  overflow-x: hidden;
  font-family: monospace;
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 4em;
  text-align: center;
}

h2 {
  font-size: 2em;
}

._general-container {
  display: grid;
  min-height: 100vh;
}

._container {
  width: 95vw;
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 0;
}

._page-title {
  line-height: 2;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}
._page-title::first-letter {
  color: rgb(103, 195, 148);
  font-size: 1.5em;
}

._svg-dark {
  fill: rgb(53, 75, 101);
}
._svg-light {
  fill: rgb(239, 239, 239);
}
._svg-small {
  width: 40px;
  height: 40px;
}
._svg-large {
  width: 300px;
  height: 300px;
}

._btn {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border: none;
  color: rgb(239, 239, 239);
  font-size: 1.3em;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
._btn::before {
  content: "";
  position: absolute;
  left: 20px;
  bottom: 15%;
  width: 0;
  height: 2px;
  background-image: linear-gradient(90deg, rgb(103, 195, 148), rgb(103, 195, 148));
  transition: 0.3s ease-in-out;
}
._btn:hover {
  color: rgb(103, 195, 148);
  transition: 0.3s ease-in-out;
}
._btn:hover::before {
  width: calc(100% - 40px);
  transition: 0.3s ease-in-out;
}

._btn2 {
  background: transparent;
  border: none;
  border-right: 3px solid #ccc;
  border-top: 3px solid #ccc;
  text-shadow: 0px 2px 3px transparent;
  color: #ccc;
  font-size: 1.3em;
  padding: 15px 40px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}
._btn2::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 0;
  background-image: linear-gradient(90deg, #fff, rgba(255, 255, 255, 0.1) 15%, #fff);
  transition: 0.3s ease-in;
}
._btn2:hover, ._btn2.active {
  color: #73d938;
  text-shadow: 0px 2px 3px #000;
  transition: 0.3s;
  transition-delay: 0.25s;
}
._btn2:hover::before, ._btn2.active::before {
  height: 100%;
  box-shadow: inset 0px -1.9em 3px rgba(0, 255, 0, 0.4);
  transition: box-shadow ease-in 0.3s 0.2s, height 0.3s ease-in;
}

._hidden {
  display: none !important;
}

.contact-form {
  width: 48%;
  position: relative;
}

.field {
  display: grid;
  grid-gap: 10px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 5px;
}
.field legend {
  padding: 10px;
  font-size: 1.5em;
}
.field legend span {
  padding: 7px 20px;
  position: relative;
}
.field legend span::after {
  content: "";
  position: absolute;
  left: 0;
  top: -5px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: rgb(103, 195, 148);
}
.field legend span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, rgb(103, 195, 148), transparent);
}
.field label {
  display: grid;
  grid-gap: 10px;
}
.field label input,
.field label textarea {
  color: rgb(180, 180, 180);
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-bottom: 1px solid rgb(103, 195, 148);
  outline: none;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 5px;
}
.field ._btn {
  justify-self: start;
  margin-top: 20px;
}

@media screen and (max-width: 769px) {
  .contact-form {
    width: 100%;
  }
}
.main-menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 20;
}
.main-menu__container {
  border: none;
  padding: 0;
}

.navigation {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.247);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.item {
  position: relative;
  z-index: 4;
}
.item a {
  z-index: 1;
  display: inline-block;
  color: rgb(239, 239, 239);
  position: relative;
  padding: 20px;
  font-family: monospace;
  font-size: 1.3em;
  transition: 0.3s;
}
.item a ~ .decore {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(90deg);
  opacity: 0;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  border-top: 0px solid #73d938;
  border-bottom: 0px solid #73d938;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  transition: width 1s, height 1s, border-top 1s, opacity 1s, border-bottom 1s, transform 0.5s;
}
.item a:hover ~ .decore, .item a.active ~ .decore {
  opacity: 1;
  transition: 0.3s;
  transform: translate(-50%, -35%) scale(1) rotate(360deg);
  width: 100px;
  height: 80px;
  border-top-width: 10px;
  border-bottom-width: 10px;
}
.item a:hover, .item a.active {
  transform: translateY(20%);
}
.item a.active {
  cursor: default;
  color: #73d938;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.8), 0 0 40px rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 480px) {
  .item a {
    padding: 20px;
    font-size: 1.1em;
  }
  .item a ~ .decore {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(90deg);
    opacity: 0;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    border-top: 0px solid #73d938;
    border-bottom: 0px solid #73d938;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    transition: width 1s, height 1s, border-top 1s, opacity 1s, border-bottom 1s, transform 0.5s;
  }
  .item a:hover ~ .decore, .item a.active ~ .decore {
    opacity: 1;
    transition: 0.3s;
    transform: translate(-50%, -35%) scale(1) rotate(360deg);
    width: 100px;
    height: 80px;
    border-top-width: 10px;
    border-bottom-width: 10px;
  }
  .item a:hover, .item a.active {
    transform: translateY(20%);
  }
  .item a.active {
    cursor: default;
    color: #73d938;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.8), 0 0 40px rgba(255, 255, 255, 0.8);
  }
}
.menu {
  position: fixed;
  top: -6.69%;
  left: 50%;
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
  transform: translateX(-50%);
  background-color: rgb(255, 255, 255);
  border-radius: 0 0 10px 10px;
  z-index: 20;
  transition: 0.5s ease-in-out;
}
.menu.menu-open {
  top: 0;
  transition: 0.5s ease-in-out;
}
.menu-links {
  width: 100%;
  height: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.menu-link {
  color: rgb(103, 195, 148);
  transition: 0.2s ease-in-out;
}
.menu-link:hover {
  color: #177E8F;
  transition: 0.2s ease-in-out;
}

.burger {
  display: grid;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  width: 70px;
  height: 70px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
  z-index: -20;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 80%;
  height: 80%;
  z-index: -1;
}
.burger::after {
  left: 91%;
  top: 50%;
  box-shadow: -23px -40px rgb(255, 255, 255);
}
.burger::before {
  left: -70%;
  top: 50%;
  mix-blend-mode: darken;
  box-shadow: 23px -40px rgb(255, 255, 255);
}
.burger-line {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 40%;
  height: 2px;
  background-color: rgb(56, 56, 56);
  transition: 0.3s;
}
.burger-line:nth-child(1) {
  top: 70%;
  transform-origin: right;
}
.burger-line:nth-child(2) {
  top: 80%;
  transform-origin: left;
}
.burger.arrow-down .burger-line:nth-child(1) {
  width: 20%;
  top: 70%;
  height: 2px;
  transform: translate(-50%, -50%) rotate(-58deg);
  transition: 0.3s;
}
.burger.arrow-down .burger-line:nth-child(2) {
  width: 20%;
  top: 70%;
  height: 2px;
  transform: translate(-50%, -50%) rotate(58deg);
  transition: 0.3s;
}
.burger.menu-close .burger-line:nth-child(1) {
  width: 35%;
  left: 45%;
  top: 80%;
  height: 2px;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: 0.3s;
}
.burger.menu-close .burger-line:nth-child(2) {
  width: 35%;
  left: 55%;
  top: 80%;
  height: 2px;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: 0.3s;
}

.header-container {
  display: grid;
}
.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
}

main {
  min-height: 80vh;
}

.more {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.more .toggle {
  position: absolute;
  width: 75px;
  height: 75px;
  font-size: 3em;
  background-color: #fff;
  color: rgb(53, 75, 101);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}
.more .toggle.active {
  transform: rotate(315deg);
  box-shadow: 0 0 0 68px #fff;
  background-color: rgb(53, 75, 101);
  fill: #fff;
}
.more li {
  position: absolute;
  left: 10px;
  list-style: none;
  transform: rotate(calc(45deg * var(--i))) translateX(40px);
  transform-origin: 140px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  z-index: 10;
}
.more li a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  font-size: 1.7em;
  color: rgb(53, 75, 101);
  transform: rotate(calc(-45deg * var(--i)));
}
.more.active li {
  visibility: visible;
  opacity: 1;
}
.more.active li.active {
  transform: rotate(calc(45deg * var(--i))) translateX(12px);
}
.more.active .indicator:before {
  opacity: 1;
  top: -27.5px;
  left: -27.5px;
  background-color: #29fd53;
  box-shadow: 0 0 0 6px rgb(53, 75, 101);
}
.more li:nth-child(2).active ~ .indicator {
  transform: translateX(-103px) rotate(0deg);
}
.more li:nth-child(3).active ~ .indicator {
  transform: translateX(-103px) rotate(45deg);
}
.more li:nth-child(4).active ~ .indicator {
  transform: translateX(-103px) rotate(90deg);
}
.more li:nth-child(5).active ~ .indicator {
  transform: translateX(-103px) rotate(135deg);
}
.more li:nth-child(6).active ~ .indicator {
  transform: translateX(-103px) rotate(180deg);
}
.more li:nth-child(7).active ~ .indicator {
  transform: translateX(-103px) rotate(225deg);
}
.more li:nth-child(8).active ~ .indicator {
  transform: translateX(-103px) rotate(270deg);
}
.more li:nth-child(9).active ~ .indicator {
  transform: translateX(-103px) rotate(315deg);
}

.indicator {
  position: absolute;
  left: calc(50% + 2.5px);
  transform-origin: right;
  width: 100px;
  height: 1px;
  background: transparent;
  pointer-events: none;
  transition: 0.5s;
}
.indicator:before {
  content: "";
  position: absolute;
  top: -27.5px;
  left: 72px;
  width: 55px;
  height: 55px;
  background-color: rgb(53, 75, 101);
  box-shadow: 0 0 0 6px #29fd53;
  border-radius: 50%;
  opacity: 0;
  transition: 0.5s;
}

.filter {
  margin: 50px 0 20px 0;
}

.my-works {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: flex-start;
  align-items: center;
}
.my-works .work {
  width: 300px;
  height: 300px;
  display: grid;
  overflow: hidden;
  justify-content: center;
  align-items: start;
  background-color: rgba(206, 206, 206, 0.295);
  position: relative;
  border-radius: 10px;
}
.my-works .work img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.my-works .work::before {
  content: "∴";
  z-index: -1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.288);
  color: #177E8F;
  text-shadow: 0px 0px 20px #73d938;
  font-size: 20em;
}
.my-works .work-more {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10%;
  height: 10%;
  background: linear-gradient(#177E8F, #73d938);
  border-radius: 50% 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 0.2s ease-in-out;
  opacity: 1;
}
.my-works .work-more-title {
  color: #ddd;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  font-size: 1.5em;
  text-shadow: 0 0 3px #000;
  transform: translateX(110%);
  opacity: 0;
}
.my-works .work-more-link {
  background-color: rgba(255, 255, 255, 0.15);
  width: 25%;
  height: 25%;
  border-radius: 50%;
  padding: 20px;
  transform: translateX(-310%);
  opacity: 0;
  position: relative;
}
.my-works .work-more-link::before {
  content: "Перейти на сайт";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: #333;
  font-size: 0.7em;
  padding: 10px;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}
.my-works .work-more-link svg {
  width: 100%;
  height: 100%;
  transition: 0.2s ease-in-out;
  fill: #ddd;
  transform: rotate(135deg);
}
.my-works .work-more-link:hover::before {
  opacity: 0.7;
  transition: 0.2s ease-in-out;
}
.my-works .work-more-link:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.2s ease-in-out;
}
.my-works .work-more-link:hover > svg {
  fill: transparent;
  transition: 0.2s ease-in-out;
}
.my-works .work:hover .work-more {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: 0.2s ease-in-out;
}
.my-works .work:hover .work-more-title {
  transform: translateX(0%);
  opacity: 1;
  transition: 0.5s 0.5s ease-in-out;
}
.my-works .work:hover .work-more-link {
  transform: translateX(0%) rotate(360deg);
  opacity: 1;
  transition: 0.7s ease-in-out;
}

.forms {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
.forms .link-tel {
  color: rgb(239, 239, 239);
}/*# sourceMappingURL=style.css.map */